In [2]:
--1. List the employee number, last name, first name, sex, and salary of each employee.
SELECT e.emp_no, e.last_name, e.first_name, e.sex, s.salary
FROM employees e
JOIN salaries s ON e.emp_no = s.emp_no
LIMIT 10;

emp_no,last_name,first_name,sex,salary
10001,Facello,Georgi,M,60117
10002,Simmel,Bezalel,F,65828
10003,Bamford,Parto,M,40006
10004,Koblick,Chirstian,M,40054
10005,Maliniak,Kyoichi,M,78228
10006,Preusig,Anneke,F,40000
10007,Zielinski,Tzvetan,F,56724
10008,Kalloufi,Saniya,M,46671
10009,Peac,Sumant,F,60929
10010,Piveteau,Duangkaew,F,72488

In [3]:
--2. List the first name, last name, and hire date for the employees who were hired in 1986.
SELECT first_name, last_name, hire_date
FROM employees
WHERE hire_date >= '1986/01/01' AND hire_date <= '1986/12/31'
LIMIT 10;

first_name,last_name,hire_date
Eran,Cusworth,1986-11-14
Bojan,Zallocco,1986-10-14
Nevio,Demizu,1986-05-18
Ziva,Vecchi,1986-07-03
Mohit,Speek,1986-01-14
Qunsheng,Speer,1986-02-13
Dines,Encarnacion,1986-08-02
Harngdar,Swick,1986-05-28
Freyja,Uhrig,1986-12-20
Zhenhua,Milicic,1986-08-04

In [4]:
--3. List the manager of each department along with their department number, department name, employee number, last name, and first name
SELECT 
    dm.dept_no,
    d.dept_name,
    dm.emp_no AS manager_emp_no,
    e.last_name AS manager_last_name,
    e.first_name AS manager_first_name
FROM 
    dept_manager dm
JOIN 
    employees e ON dm.emp_no = e.emp_no
JOIN 
    departments d ON dm.dept_no = d.dept_no
LIMIT 10;

dept_no,dept_name,manager_emp_no,manager_last_name,manager_first_name
d001,Marketing,110022,Markovitch,Margareta
d001,Marketing,110039,Minakawa,Vishwani
d002,Finance,110085,Alpin,Ebru
d002,Finance,110114,Legleitner,Isamu
d003,Human Resources,110183,Ossenbruggen,Shirish
d003,Human Resources,110228,Sigstam,Karsten
d004,Production,110303,Wegerle,Krassimir
d004,Production,110344,Cools,Rosine
d004,Production,110386,Kieras,Shem
d004,Production,110420,Ghazalie,Oscar

In [5]:
--4. List the department number for each employee along with that employeeâ€™s employee number, last name, first name, and department name.
SELECT 
    de.emp_no,
    e.last_name,
    e.first_name,
    de.dept_no,
    d.dept_name
FROM 
    dept_emp de
JOIN 
    employees e ON de.emp_no = e.emp_no
JOIN 
    departments d ON de.dept_no = d.dept_no
LIMIT 10;

emp_no,last_name,first_name,dept_no,dept_name
10001,Facello,Georgi,d005,Development
10002,Simmel,Bezalel,d007,Sales
10003,Bamford,Parto,d004,Production
10004,Koblick,Chirstian,d004,Production
10005,Maliniak,Kyoichi,d003,Human Resources
10006,Preusig,Anneke,d005,Development
10007,Zielinski,Tzvetan,d008,Research
10008,Kalloufi,Saniya,d005,Development
10009,Peac,Sumant,d006,Quality Management
10010,Piveteau,Duangkaew,d004,Production

In [6]:
--5. List first name, last name, and sex of each employee whose first name is Hercules and whose last name begins with the letter B.
SELECT 
    first_name,
    last_name,
    sex
FROM 
    employees
WHERE 
    first_name = 'Hercules' 
    AND last_name LIKE 'B%'
LIMIT 10;

first_name,last_name,sex
Hercules,Baer,M
Hercules,Biron,F
Hercules,Birge,F
Hercules,Berstel,F
Hercules,Bernatsky,M
Hercules,Bail,F
Hercules,Bodoff,M
Hercules,Benantar,F
Hercules,Basagni,M
Hercules,Bernardinello,F

In [7]:
--6. List each employee in the Sales department, including their employee number, last name, and first name.
SELECT 
    e.emp_no,
    e.last_name,
    e.first_name
FROM 
    employees e
JOIN 
    dept_emp de ON e.emp_no = de.emp_no
JOIN 
    departments d ON de.dept_no = d.dept_no
WHERE 
    d.dept_name = 'Sales'
LIMIT 10;

emp_no,last_name,first_name
10002,Simmel,Bezalel
10016,Cappelletti,Kazuhito
10034,Swan,Bader
10041,Lenart,Uri
10050,Dredge,Yinghua
10053,Zschoche,Sanjiv
10060,Billingsley,Breannda
10061,Herber,Tse
10068,Brattka,Charlene
10087,Eugenio,Xinglin

In [8]:
--7. List each employee in the Sales and Development departments, including their employee number, last name, first name, and department name.
SELECT 
    e.emp_no,
    e.last_name,
    e.first_name,
    d.dept_name
FROM 
    employees e
JOIN 
    dept_emp de ON e.emp_no = de.emp_no
JOIN 
    departments d ON de.dept_no = d.dept_no
WHERE 
    d.dept_name IN ('Sales', 'Development')
LIMIT 10;

emp_no,last_name,first_name,dept_name
10001,Facello,Georgi,Development
10002,Simmel,Bezalel,Sales
10006,Preusig,Anneke,Development
10008,Kalloufi,Saniya,Development
10012,Bridgland,Patricio,Development
10014,Genin,Berni,Development
10016,Cappelletti,Kazuhito,Sales
10018,Peha,Kazuhide,Development
10021,Erde,Ramzi,Development
10022,Famili,Shahaf,Development

In [9]:
--8. List the frequency counts, in descending order, of all the employee last names (that is, how many employees share each last name).
SELECT 
    last_name,
    COUNT(*) AS frequency
FROM 
    employees
GROUP BY 
    last_name
ORDER BY 
    frequency DESC
LIMIT 10;

last_name,frequency
Baba,226
Coorg,223
Gelosh,223
Sudbeck,222
Farris,222
Adachi,221
Osgood,220
Mandell,218
Masada,218
Neiman,218